<h1>Meet the creators of Grit &amp; Grain</h1>
<p>Amanda and James started Grit &amp; Grain in Jim's backyard. Taking Amanda's love of calligraphy and Jim's love of woodworking, the two combined talents to create one of a kind, handmade words made out of wood.  With the desire to branch out, Amanda and Jim took on whatever projects were brought their way. Custom orders and requests have become a mainstay of their business. Take a look around to see the works of Grit &amp; Grain. Send your ideas and see them become a reality. </p>
