<% cache 'about' do %>
<div class="container" id="about">
	<div class="box">
		<div class="row">
			<div class="col-md-12">
				<h1>Meet the creators of Grit &amp; Grain</h1>
				<div class="col-sm-offset-4 col-md-offset-4 col-sm4 col-md-4">
					<%= image_tag("janda.jpg", class: "img-responsive") %>
				</div>

				<div class="col-sm-12 col-md-12">
					<p>Amanda and Jim started Grit &amp; Grain in Jim's backyard. Taking Amanda's love of calligraphy and Jim's love of woodworking, the two combined talents to create one of a kind, handmade words made out of wood.  With the desire to branch out, Amanda and Jim took on whatever projects were brought their way. Custom orders and requests have become a mainstay of their business. Take a look around to see the works of Grit &amp; Grain. Send your ideas and see them become a reality. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>