<div class="container" id="contact">
	<div class="box">
		<h1>Contact us! We can't wait to hear from you!</h1>
		<p>Give us a call at 1-800-123-GRIT to discuss the opportunity of working together or fill out a Project Request Form and we will be in touch with your shortly</p>
	</div>
</div>

