<div class="container" id="welcome">
	<div class="box">
		<h1>Welcome to Grit &amp; Grain</h1>
		<h2>Your source for all things wood</h2>
	</div>
</div>

<%#= image_tag("wood_rounds.jpg", class: "img-responsive") %>





