<div class="container" id="welcome">
	<div class="box">
		<div class="row">
			<h1>Welcome to Grit &amp; Grain</h1>
			<h2>Your source for all things wood</h2>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
			<%= image_tag("home_love.jpg", class: "img-responsive center-block") %>
			</div>
		</div>
	</div>
</div>









