<div class="container" id="thank">
	<div class="box">
		<div class="row">
			<div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8">
				<h1>Thank You!</h1>
 				<p>We have received your message<br>and we will respond as soon as possible</p>
 			</div>
 		</div>
	</div>
</div>