<div class="container">
	<div class="box">
		<div class="row" id="newuser">
			<div class="col-sm-offset-5 col-md-offset-5 col-sm-7 col-md-7">
				<h1>Editing User</h1>
			</div>

			<div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
				<%= render 'form', user: @user %>
			</div>

			<div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
				<%= link_to 'Show', @user %> |
				<%= link_to 'Back', users_path %>
			</div>
		</div>
	</div>
</div>