  <p id="notice"><%= notice %></p>

<div class="container" id="users">
  <div class="row">
    <div class="col-sm-offset-5 col-md-offset-5 col-sm-7 col-md-7">
      <h1>Orders</h1>
    </div>
  </div>


  <div class="container-fluid" id="ordertable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Total ($)</th>
        <th>Product Image</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
    
      <tr>
        <td>$<%= order.total %></td>
        <td><%= image_tag(order.product.image_url, class: "img-fluid", size: "150x150") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
    

  <hr><br>

  

