<div class="container" id="order">
	<div class="row">
		<div class="col-sm-offset-5 col-md-offset-5 col-sm-7 col-md-7">
			<h1>Your Orders!</h1>
		</div>
	</div>
</div>

	<div class="row">
		<%= link_to
