/**** Sign In Page ****/


#log {
	padding-left: 0 !important;
}

#remember {
	padding-left: 1.5% !important;
}

.checkbox label {
	padding-left: 0 !important;
}

#links {
	margin-left: 15% !important;
}

#signin h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.5

}

#signin label {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.5em;
}

#signin input {
	font-family: "Josefin Sans", sans-serif;
}

#signin a {
	font-family: "Josefin Sans", sans-serif;
}

/**** Sign Up Page ****/

#sup {
	padding-left: 16.5% !important;
}

#max {
	margin-top: 0 !important;
}


/**** Edit Page ****/

i {
	padding-left: 17%;
}

#edit h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.5;
}

p {
	font-family: "Josefin Sans", sans-serif;
}

#edit label {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.5em;
}

#edit input {
	font-family: "Josefin Sans", sans-serif;
}

#edit a {
	font-family: "Josefin Sans", sans-serif;
}




