// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//products_controller.rb
.panel-body h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.5em;
	text-align: center;
}

tr th, tr td {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.5em;
	text-align: center;
	height: 50px;
	color: #3c2f3a;
}

tr td {
	font-size: 1.3em;
}


.panel {
	width:80%;
	margin-top: 8%;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

//show.html.erb

#ncont {
	margin-top: 2%;
}

#name {
	padding-top: 5%;
	padding-bottom: 2%;
}

#description {
	padding-top: 2%;
	padding-bottom: 1%;
}

#colour {
	padding-bottom: 1%;
}

#price {
	padding-bottom: 1%;
}

#prod_show p strong {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.6em;
}

#prod_show p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.4em;
}

#showaction {
	padding-top: 2%;
}

#showaction a:hover {
	background-color: white;
	color: #806f62;
	width: auto;
}

//index.html.erb

#product {
	padding-top: 0%;
}

#product h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.5em;
	text-decoration: underline;
}

#product h2 {
	font-family: "La Belle Aurore", cursive;
	font-size: 2.3em;
}

#product p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.4em;
	padding-top: 2%;
}

#actions a:hover {
	background-color: white;
	color: #806f62;
	width: auto;
}


#product .row{
	padding-left: 2%;
}

a {
	color: #3c2f3a;
}

a:visited {
	color: #666;
}

#sign {
	padding-top: 4%;
}

#rail {
	padding-top: 4%;
}

#word {
	padding-top: 4%;;
}






