//products_controller.rb
.panel-body h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.5em;
	text-align: center;
}

tr th, tr td {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.5em;
	text-align: center;
	height: 50px;
	color: #3c2f3a;
}

tr td {
	font-size: 1.3em;
}


.panel {
	width:80%;
	margin-top: 8%;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

//show.html.erb

#ncont {
	margin-top: 2%;
}

#name {
	padding-top: 5%;
	padding-bottom: 2%;
}

#description {
	padding-top: 2%;
	padding-bottom: 1%;
}

#colour {
	padding-bottom: 1%;
}

#price {
	padding-bottom: 1%;
}

#catey {
	padding-bottom: 2%;
}

#rate {
	padding-bottom: 2%;
}
 #rate p strong {
 	font-family: "La Belle Aurore", cursive;
 	font-size: 1.6em;
}

#pay {
	padding-top: 3%;
}

#comments h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 2.0em;
	text-align: center;
}
#comments label {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.3em;
}

#comments textarea {
	background-color: #ebedea;
}

#comments .btn-primary {
	background-color: #fff;
	color: #333;
	font-family: "Josefin Sans", sans-serif;
	border-color: #ccc;

}

#prod_show p strong {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.6em;
}

#prod_show p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.4em;
}

#showaction {
	padding-top: 2%;
}

#showaction a:hover {
	background-color: white;
	color: #806f62;
	width: auto;
}

.product-reviews {
	padding-left: 3%;
}

.product-reviews hr {
	width: 80%;

}

.pagination {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.2em;
	color: #3c2f3a;
	margin: 1.5em;

}

.pagination .disabled {
	border: 1px solid;
	color: #979183;
	text-decoration: none;
	padding: 0.2em 0.5em;
}

.pagination .next_page {
	border: 1px solid;
	color: #806f62 !important;
	text-decoration: none;
	padding: 0.2em 0.5em;
}

a.previous_page {
	border: 1px solid;
	color: #979183 !important;
	text-decoration: none !important;
	padding: 0.2em 0.5em;
}


//index.html.erb

#product {
	padding-top: 0%;
}

#product h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.5em;
	text-decoration: underline;
}

#product h2 {
	font-family: "La Belle Aurore", cursive;
	font-size: 2.3em;
}

#product p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.4em;
	padding-top: 2%;
}

#actions a:hover {
	background-color: white;
	color: #806f62;
	width: auto;
}


#product .row{
	padding-left: 2%;
}

a {
	color: #3c2f3a;
}

a:visited {
	color: #666;
}

#sign {
	padding-top: 4%;
}

#rail {
	padding-top: 4%;
}

#word {
	padding-top: 4%;;
}

//new.html.erb

#newprod h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.0em;
}

#newprod label {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.5em;
}

#newprod .btn-primary {
	font-family: "Josefin Sans", sans-serif;
	background-color: #cecfc3;
	color: #3c2f3a;
	border-color: #cecfc3;
}

//edit.html.erb

#editprod h1 {
	font-family: "La Belle Aurore", cursive;
	font-size: 3.0em;
}

#editprod label {
	font-family: "La Belle Aurore", cursive;
	font-size: 1.5em;
}

#editprod .btn-primary {
	font-family: "Josefin Sans", sans-serif;
	background-color: #cecfc3;
	color: #3c2f3a;
	border-color: #cecfc3;
}





