
/**** Navigation Bar ****/

.navbar {
	background-color: #cecfc3;
	color: #3c2f3a;
}

.navbar-nav {
	color: #3c2f3a;
	font-family: "Raleway", sans-serif;
}

.nav>li>a {
	color: #3c2f3a;
}

.navbar-custom .navbar-brand {
	color: #3c2f3a;
	font-size: 30px;
	font-family: "La Belle Aurore", cursive;
	margin-top: 3px;
}

body {
	background-image: url(wood_rounds.jpg); 
	width: 100%;
}

/**** Index ****/

#welcome {
	padding-top: 10%;
}

#welcome h1 {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
	text-align: center;
	padding-top: 3%;
}

#welcome h2 {
	font-family: "Josefin Sans", sans-serif;
	color: #3c2f3a;
	text-align: center;
}

/**** About Page ****/

#about {
	padding-top: 10%;
}

#about h1 {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	text-align: center;
	font-size: 3.5em;
	padding-top: 8%;
}

#about p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2em;
	color: #3c2f3a;
	text-align: center;
	padding-top: 1%;
}

/**** Contact Page ****/

#contact {
	padding-top: 5%;
}

.box {
	background: white;
	background-color: rgba(255,255,255,0.5);

}

#contact h1 {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	text-align: center;
	font-size: 3.5em;
	padding-top: 3%;
}

#contact p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2em;
	color: #3c2f3a;
	text-align: center;
	padding-top: 1%;
}

#form {
	padding-left: 20%;
	width: 80%;
	padding-top: 3%;
}

/**** Projects Page ****/

#projects {
	padding-top: 5%;
	text-align: center;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4.5em;
}

#signs {
	padding-top: 3%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
}

#railings {
	padding-top: 3%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
}

#words {
	padding-top: 3%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
}

#pro {
	padding-bottom: 5%;
	padding-left: 3%;
	padding-right: 3%;
}

/**** Footer ****/

footer {
	position: absolute;
	left: 0;
	bottom: 0px;
	height: 60px;
	width: 100%;
}


