
/**** Navigation Bar ****/

.navbar {
	background-color: #cecfc3;
	color: #3c2f3a;
}

.navbar-nav {
	color: #3c2f3a;
	font-family: "Raleway", sans-serif;
}

.nav>li>a {
	color: #3c2f3a;
}

.navbar-custom .navbar-brand {
	color: #3c2f3a;
	font-size: 30px;
	font-family: "La Belle Aurore", cursive;
	margin-top: 3px;
}

.navbar-custom .navbar-brand:hover {
	background-color: #ebedea;
}

button.navbar-toggle {
	background-color: white;
	border-color: #3c2f3a;
}

span.icon-bar {
	background-color: #3c2f3a;
}

li.focus {
	background-color: #806f62;
}

body {
	background-image: url(wood_rounds.jpg); 
	width: 100%;
}



/**** Index ****/

#welcome {
	padding-top: 10%;
}

#welcome h1 {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
	text-align: center;
	padding-top: 3%;
}

#welcome h2 {
	font-family: "Josefin Sans", sans-serif;
	color: #3c2f3a;
	text-align: center;
}

/**** Landing Page ****/

#land {
	padding-top: 7%;
	width: 80%;
}

.carousel-control:hover {
	background-color: transparent;
}

.carousel-caption {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a !important;
	font-size: 2em  !important;
}

.glyphicon {
	color: #3c2f3a;
}

.carousel-indicators li:active {
	color: #3c2f3a ;
}

/**** About Page ****/

#about {
	padding-top: 10%;
}

#about h1 {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	text-align: center;
	font-size: 3.5em;
	padding-top: 8%;
}

#about p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2em;
	color: #3c2f3a;
	text-align: center;
	padding-top: 1%;
	line-height: 120%;
}

/**** Contact Page ****/

#contact {
	padding-top: 5%;
}

.box {
	background: white;
	background-color: rgba(255,255,255,0.5);
	padding-bottom: 5%;

}

#contact h1 {
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	text-align: center;
	font-size: 3.5em;
	padding-top: 3%;
}

#contact p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2em;
	color: #3c2f3a;
	text-align: center;
	padding-top: 1%;
	line-height: 120%;
}

#form {
	padding-left: 20%;
	width: 80%;
	padding-top: 3%;
}

/**** Projects Page ****/

#projects {
	padding-top: 5%;
	text-align: center;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 5em;
}

#signs {
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 5em;
	text-align: center;
}

#railings {
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
	text-align: center;
}

#words {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-bottom: 15%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
	text-align: center;
}

#wround {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-bottom: 15%;
	font-family: "La Belle Aurore", cursive;
	color: #3c2f3a;
	font-size: 4em;
	text-align: center;

}

#pro {
	padding-top: 5%;
	padding-bottom: 8%;
	padding-left: 3%;
	padding-right: 3%;
}

a {
	color: #3c2f3a !important;
}

a:visited {
	color: #666
}

a:hover {
	background-color: white;
	color: #cecfc3 !important;
}
/**** Footer ****/

footer {
	position: relative;
	left: 0;
	bottom: 0px;
	height: 60px;
	width: 100%;
}


