<div style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #3c2f3a; background-color: #cecfc3;">
	<p>Welcome <%= @email %>!</p>

	<p>You can confirm your account email through the link below:</p>

	<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
