  <div class="container-fluid" id="product">
  	<div class="row" id="sign">
  		<div class="col-sm-12 col-md-12 col-lg-12">
  			<h1>Signs</h1>
  		</div>
  	</div>
    <div class="row">
      <%= render @products %>
    </div>
    <div class="row" id="rail">
    	<div class="col-sm-12 col-md-12 col-lg-12">
    		<h1>Railings</h1>
    	</div>
    </div>
    <div class="row">
    	<%= render @products %>
    </div>
    <div class="row" id="word">
    	<div class="col-sm-12 col-md-12 col-lg-12">
    		<h1>Words</h1>
    	</div>
	</div>
	<div class="row">
		<%= render @products %>
	</div>
  </div>


  <hr><br>

  <%= link_to 'New Product', new_product_path %>


